@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss/utilities';

.my-node-enter {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in;
  }
  
  .my-node-enter-active {
    max-height: 500px; 
  }
  
  .my-node-exit {
    max-height: 500px; 
    overflow: hidden;
    transition: max-height 200ms ease-in;
  }
  
  .my-node-exit-active {
    max-height: 0;
  }

  .font-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .font-custom::-webkit-scrollbar-thumb {
    background-color: #B7950B;
  }
  

  